<!DOCTYPE html>
<html lang="ko" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scraper</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>JobScraper</h1>
        <h3>원하는 직업을 검색해주세요!</h3>
        <form action="/search">
            <input 
                type="text" 
                name="keyword" 
                placeholder="검색하고 싶은 직업을 입력하세요." 
                required
            />
            <button>검색</button>
        </form>
    </main>
</body>
</html>

