<!DOCTYPE html>
<html lang="ko" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Scraper | {{keyword}}({{ job_count }})</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>JobScraper</h1>
        <h3>{{keyword}}에 대한 검색결과입니다. ({{ job_count }})</h3>
        <a 
        href="/export?keyword={{keyword}}"
        target="_blank"
        >
        <!-- target = 새로운 탭으로 열림 -->
            <button>CSV 파일로 저장</button>
        </a>
        <figure>
            <table role="grid">
                <thead>
                    <tr>
                        <th>제목</th>
                        <th>회사</th>
                        <th>보상금</th>
                        <th>링크</th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                        <tr>
                            <td>{{ job.title }}</td>
                            <td>{{ job.company }}</td>
                            <td>{{ job.reward }}</td>
                            <td>
                                <a href="{{ job.link }}" target="_blank">바로가기 &rarr;</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>  
        </figure>     
        <br>
        <a href="/">홈으로 돌아가기</a>
    </main>
</body>
</html>
